body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--secondary-tex-color);
  background-color: var(--primary-background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 96px 0;
}

.container {
  max-width: 320px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

/* HEADER */

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: none;
}

.logo-link {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo {
  color: #2e2f42;
}

.address {
  display: none;
}

.burger-menu-btn {
  display: flex;
}

/* HERO */

.hero-section {
  margin: 0 auto;
  max-width: 320px;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/background-image/Dark-bg-min.jpg);
  background-color: var(--secondary-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/background-image/Dark-bg@2x-min.jpg);
  }
}

.hero-header {
  margin: 0 auto 72px auto;
  font-size: 36px;
  line-height: 1.1;
  max-width: 216px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-button {
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color var(--base-transition);
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* FEATURES */

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-icon-container {
  display: none;
}

.features-header {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-text-color);
}

.features-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-tex-color);
}

/* OUR TEAM */

.team-section {
  background-color: var(--tertiary-background-color);
}

.our-team-header {
  margin-bottom: 72px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.employee-card {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.employee-thumb {
  /* padding: 32px 0; */
  padding-top: 32px;
  padding-right: 0px;
  padding-bottom: 32px;
  padding-left: 0px;
}

.employee-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.position {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-social-link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color var(--base-transition);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

/* OUR PORTFOLIO */

.portfolio-header {
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.portfolio-card-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-img-container {
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  color: #f4f4fd;
}

.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
  transform: translateY(0%);
}

.portfolio-card-thumb {
  /* padding:32px 16px; */
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

/* FOOTER */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--secondary-background-color);
}

.footer-cantainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.logo-link-footer {
  display: block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #4d5ae5;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-links-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color var(--base-transition);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.subscribe-paragraph {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-subscribe-input {
  outline: none;
  padding: 8px 16px;
  width: 288px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  transition: border var(--base-transition);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-subscribe-input:focus {
  border-color: #4d5ae5;
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  transition: background-color var(--base-transition);
}

.btn-subscribe-icon {
  margin-left: 16px;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  /* bottom: 0;
  right: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--base-transition), visibility var(--base-transition);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  width: 288px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform var(--base-transition);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  margin-left: 336px;
  margin-bottom: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--base-transition),
    border var(--base-transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #fff;
}

.modal-close-icon {
  transition: fill var(--base-transition);
}

.form-paragraph {
  margin-bottom: 16px;
  width: 100%;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-text-color);
}

.form-field {
  display: block;
  margin-bottom: 8px;
}

.modal-label-title {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-input {
  outline: transparent;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  transition: border-color var(--base-transition);
}

.modal-form-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.input-icon-wrapper {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--base-transition);
}

.modal-container-textarea {
  margin-bottom: 16px;
}

.modal-text-area {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--base-transition);

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-text-area:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.form-field-checkbox {
  margin-bottom: 24px;
}

.fake-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  min-width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: fill var(--base-transition), border var(--base-transition),
    background-color var(--base-transition);
}

.modal-label-checkbox {
  display: flex;
  align-items: center;
}

.modal-checkbox:checked + .modal-label-checkbox > .fake-checkbox {
  fill: #f4f4fd;
  border: none;
  background-color: #404bbf;
}

.privacy-policy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  color: #4d5ae5;
}

.modal-form-btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms var(--base-transition);

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;

  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--primary-background-color);
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--base-transition), visibility var(--base-transition),
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0%);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 72px 24px 40px 16px;
}

.menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid #e7e9fc;
}

.mobile-menu-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-navigation-link-studio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.menu-navigation-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-menu-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
  list-style: none;
  font-style: normal;
}

.menu-address-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.menu-address-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-tex-color);
}

.menu-social-link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color var(--base-transition);
}

.menu-social-link-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}
